---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import ModelYSection from '../components/ModelYSection.astro';
import Model3Section from '../components/Model3Section.astro';
import ModelSSection from '../components/ModelSSection.astro';
import ModelXSection from '../components/ModelXSection.astro';
import SolarPowerSection from '../components/SolarPowerSection.astro';
import AccesoriosSection from '../components/AccesoriosSection.astro';
---

<Layout>
	<Navbar/>

	<main class="snap-y snap-mandatory overflow-x-hidden relative w-full h-screen overflow-auto scroll">

		<div class="snap-center">
			<HeroSection/>
		</div>
		
		<div class="snap-center">
			<ModelYSection />
		</div>

		<div class="snap-center">
			<Model3Section />
		</div>

		<div class="snap-center">
			<ModelSSection />
		</div>

		<div class="snap-center">
			<ModelXSection />
		</div>

		<div class="snap-center">
			<SolarPowerSection />
		</div>

		<div class="snap-center">
			<AccesoriosSection />
		</div>
		
		
	</main>
</Layout>
