<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="white">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <div class=" animate-fade-in-up" id="model-solar-info">
                <h2 class="text-white pt-40 text-5xl font-medium mt-[-60px] xl:mt-0 mb-4">Solar y Powewall</h2>
                <p class="text-white font-bold text-2xl mb-4 ">Energia para todos</p>
            </div>
        </header>
        <footer class="flex flex-grow flex-nowrap justify-end flex-col pb-20">
            <div class=" gap-x-4 flex mx-auto">
                <a class=" bg-blue-700 border-[3px] border-blue-700 text-white text-sm rounded font-medium px-12 py-2 items-center inline-flex justify-center transition-colors hover:bg-blue-500 hover:text-white hover:border-blue-500"  
                href="#">Saber más</a>
            </div>
            
        </footer>
    </div>
    

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/tesla-landing/solar.avif" alt="Solar Power" class="hidden sm:flex h-full w-full object-cover object-center">
        <img src="/tesla-landing/solarmobile.avif" alt="Solar Power" class="h-full w-full object-cover object-center">
        
    </div>
</section>



<script>
    //Animacion para los titulos
document.addEventListener("DOMContentLoaded", () => {
  const section = document.querySelector("#model-solar-info");

  const observer = new IntersectionObserver(
    ([entry]) => {
      if (entry.isIntersecting) {
    
        section.classList.remove("opacity-0"); 
        section.classList.add("animate-fade-in-up");
      } else {
        section.classList.remove("animate-fade-in-up");
        section.classList.add("opacity-0");
      }
    },
    {
      threshold: 0.1, // 
    }
  );

  observer.observe(section);
});

  
</script>